


.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: 79px;
}

.bg-light {
    background-image: linear-gradient(to right top, #001372, #00287a, #00377e, #00457f, #00527e);
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}



/*.......................................................................*/

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: -15px;
    margin-left: -15px;
}

.box {
    
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 13px;
    text-align: center;
    margin-left: 30%;
}

.card{
    width: 12rem; height: auto;
}

/*.....................................................................*/

@media(min-width: 500px){
    body{
    
    background: url(pic2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;


}
}

@media(max-width: 499px){
    body{
    
    background: url(pic3.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;


}


.box {
    
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 13px;
    text-align: center;
    margin-left: 27%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 18px;
}
}

